<div class="overview">
  <div class="page-header">
    <div>
      <h1>Tổng quan</h1>
      <p>
        Chào mừng bạn quay lại hệ thống quản lý đào tạo
      </p>
    </div>
  </div>


  <div class="statistics">
    <div class="stat-card">
      <div class="stat-icon">
        👨‍🎓
      </div>
      <div class="stat-content">
        <span class="stat-title">
          Tổng học viên
        </span>
        <h2>
          {{ totalStudents.length }}
        </h2>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">
        📚
      </div>
      <div class="stat-content">
        <span class="stat-title">
          Tổng khóa học
        </span>
        <h2>
          {{ totalCourses.length }}
        </h2>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">
        👨‍🏫
      </div>
      <div class="stat-content">
        <span class="stat-title">
          Tổng giảng viên
        </span>
        <h2>
          {{ totalTeachers.length }}
        </h2>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">
        🏫
      </div>
      <div class="stat-content">
        <span class="stat-title">
          Lớp đang học
        </span>
        <h2>
          {{ totalActiveClasses.length }}
        </h2>
      </div>
    </div>
  </div>
</div>